.log_sign_card {
    width: 446.19px;
    height: 734px;
    border-radius: 37px;
    background-color: #12181F;
    margin-left: 14.69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.9px;
    padding-top: 35px;

}

.log_sign_card_title {
    width: 342px;
    height: 45px;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    color: white;
    text-align: start;
    margin-left: 50px;
}

.log_sign_card_p {
    width: 273.6px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #C3CDDB;

}

.select_style {
    width: 279px;
    height: 24px;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;



}

.radio_style {
    display: none;
    position: relative;

}

.input_box_con {
    position: relative;
}

.for_radio {
    margin-top: 50px;
}

.input_box_con label {
    width: 301px;
    height: 79px;
    background-color: #161D26;
    border-radius: 25px;
    color: white;
    position: relative;
    display: flex;

}

.input_box_con label:before {
    content: " ";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #A4A8AB;
    /* left: 200px;
    margin-top: 27px; */
    color: #C3CDDB;
    margin-right: 5px;
    margin-top: 28px;
    margin-left: 20px;


}


/* input[type="radio"]:checked+label {
    background-color: #161D26;
    color: white;

} */

input[type="radio"]:checked+label:before {

    width: 20px;
    height: 20px;
    background-color: #0CAF60;
    border: 2px solid #161D26;
    /* border-style: double; */
    border-color: #12181F;
    border-style: double;



}

/* .radio_border_one {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #C3CDDB;
    position: absolute;
    z-index: 3;
    margin-top: 40px;
    left: 180px;

} */

/* .radio_border_two{} */
.radio_p,
.radio_p_two {
    position: absolute;
    color: white;
    top: 10px;
    left: 70px;
}

.radio_p_two {
    top: 110px;
}

.radio_first_p {

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

.radio_sec_p {
    color: #A4A8AB;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 6px;

}

.for_radio {
    margin-bottom: 45px;
}