.ForgePasswordButton_style {
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 0px;
    text-decoration: none;
}